<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufoai.platform.mapper.chat.ChatMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ufoai.platform.entity.ChatMessage">
        <id column="msg_id" property="msgId" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="group_id" property="groupId" />
        <result column="chat_type" property="chatType" />
        <result column="msg_type" property="msgType" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="time" property="time" />
    </resultMap>

</mapper>
