<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufoai.platform.mapper.business.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ufoai.platform.entity.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="publish_time" property="publishTime" />
        <result column="priority" property="priority" />
        <result column="publisher" property="publisher" />
        <result column="explain" property="explain" />
        <result column="checker" property="checker" />
        <result column="status" property="status" />
        <result column="publisher_type" property="publisherType" />
        <result column="check_time" property="checkTime" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
